# Entorno y Puerto de Escucha
PORT=3000
NODE_ENV=development

# Conexión a Base de Datos PostgreSQL
# En desarrollo local: postgresql://postgres:postgres@localhost:5432/habitat_db
# En Render: postgresql://user:password@host.oregon-postgres.render.com/dbname
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/habitat_db

# Seguridad y Autenticación JWT
JWT_SECRET=tu_clave_secreta_jwt
